[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==2.*"
pyattest = "==0.0.10"
twine = "*"

[scripts]
tests = "pytest"
coverage = "pytest --cov=pyattest tests/"
upload = "python setup.py upload"

[requires]
python_version = "3.8"
